$color__hero-gradient-100: #1c7ce0;

// Tailwind CSS variables, duplicated in tailwind.config.js

$color__white: #fff;

$color__blue-100: #fafcff;
$color__blue-200: #f5f9ff;
$color__blue-300: #e6f0ff;
$color__blue-400: #95bff0;
$color__blue-500: #2a6ebd;
$color__blue-600: #1f5a99;
$color__blue-700: #150051;

$color__brown-100: #faf4ed;
$color__brown-200: #ccc2b8;
$color__brown-300: #473c2f;

$color__gray-100: #7a8999;
$color__gray-200: #3d444d;
$color__gray-300: #1f2327;
