/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Transition
# Svg
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  max-width: 1366px; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> One-off classes that don't require their own file go here:
--------------------------------------------------------------*/
.chevron {
  height: 0.65rem;
  right: 0.5rem;
  top: 0.32rem; }

.gradient {
  background: radial-gradient(circle at 70%, #1c7ce0, #150051); }

.hero {
  background: radial-gradient(circle at 70%, #1c7ce0, #150051); }

.quote-left {
  top: .7rem;
  left: .7rem;
  z-index: 0; }

.transition {
  transition: all 0.3s ease; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

