/* Bootstrap theme customized with Pinegrow Web Editor */
/* Vars go before the @import */

/* Colors
--------------------------------------------- */
$gray-100: #f4f5f9;
$gray-200: #dcdde0;
$gray-300: #c3c4c7;
$gray-400: #abacae;
$gray-500: #929395;
$gray-600: #7a7b7d;
$gray-700: #626264;
$gray-800: #49494b;
$gray-900: #313132;
$black: #181819;

$theme-colors: (
  "primary": #039fd0,
  "secondary": #02d8ed,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
);

/* Typography
--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Hind", $font-family-sans-serif;

$body-color: $black;
$headings-color: $black;

$headings-font-weight: 600;
$enable-responsive-font-sizes: true;
$input-btn-font-size: inherit;
$line-height-base: 1.688;

/* Type Scale
--------------------------------------------- */
$font-size-base: 1rem;

$text-tiny: $font-size-base * 0.555;
$text-xs: 	$font-size-base * 0.702;
$text-sm: 	$font-size-base * 0.889;

$text-lg: 	$font-size-base * 1.125;
$text-xl: 	$font-size-base * 1.266;
$text-2xl: 	$font-size-base * 1.424;
$text-3xl: 	$font-size-base * 1.602;
$text-4xl: 	$font-size-base * 1.802;
$text-5xl: 	$font-size-base * 2.027;
$text-6xl: 	$font-size-base * 2.281;

// Headings
// $h1-font-size: $text-6xl;
// $h2-font-size: $text-5xl;
// $h3-font-size: $text-4xl;
// $h4-font-size: $text-3xl;
// $h5-font-size: $text-2xl;

/* Spacing scale based on tailwind css
--------------------------------------------- */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * .75),
  4: $spacer,
  5: ($spacer * 1.25),
  6: ($spacer * 1.5),
  8: ($spacer * 2),
  10: ($spacer * 2.5),
  12: ($spacer * 3),
  16: ($spacer * 4),
  20: ($spacer * 5),
  24: ($spacer * 6),
  32: ($spacer * 8),
  40: ($spacer * 10),
  48: ($spacer * 12),
  56: ($spacer * 14),
  64: ($spacer * 16),
);

/* Grid
--------------------------------------------- */
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

/* Bootstrap settings
--------------------------------------------- */
$enable-caret: false;
$enable-rounded: false;

// navbar
// $navbar-padding-y: $spacer / 4;
// $navbar-nav-link-padding-x: $spacer;
// $nav-link-padding-y: $spacer * 1.5;
// $nav-link-padding-y: $spacer;
// $navbar-padding-y: 0;

// $dropdown-bg: map-get($theme-colors, "primary");
// $dropdown-link-hover-bg: map-get($theme-colors, "primary");


/* Font Awesome settings
--------------------------------------------- */
$fa-font-path: "../../assets/vendor/fontawesome/webfonts";


/* Import the Bootstrap files */
@import "vendor/bootstrap/bootstrap";
