// Your Custom Theme & WordPress related CSS rules should come here //
// Edit bootstrap_theme>custom.scss to add/modify custom rules which are "bootstrap related" //


/* body and html
--------------------------------------------- */
html {
  background-color: $gray-200;
}

$body-max-width: 1366px;

body {
  max-width: $body-max-width;

  @extend .mx-auto;
  @extend .shadow-lg;

  // @include media-breakpoint-up("md") {
  //   font-size: $text-lg;
  // }
}


/* Hero
--------------------------------------------- */
.hero-container {
  background: linear-gradient(to right bottom, map-get($theme-colors, "primary") 25%, map-get($theme-colors, "secondary"));
  overflow: hidden;
  position: relative;

  .hero {
    height: 768px;
    z-index: 1;
  }

  .hero-macbook-pro {
    max-width: none;
    width: 120%;
  }

  .wordpress {
    background-color: $wordpress-100;
    color: $wordpress-200;
  }

  &::after {
    background-color: $gray-100;
    bottom: 0;
    content: '';
    height: 768px;
    left: 0;
    position: absolute;
    transform-origin: bottom right;
    transform: skew(25deg);
    width: 100%;

    @include media-breakpoint-up("sm") {
      transform: skew(35deg);
    }

    @include media-breakpoint-up("md") {
      transform: skew(40deg);
    }

    @include media-breakpoint-up("lg") {
      transform: skew(50deg);
    }

    @include media-breakpoint-up("xl") {
      transform: skew(57deg);
    }
  }
}

// .hero-container {
  // 50px for the bottom svg height
  // height: calc(100vh - #{$nav-link-height} - #{$navbar-padding-y * 2} - 50px);
  // height: calc(100vh - #{$nav-link-height} - 50px);
  // min-height: 600px;
  // max-height: 700px;
// }


/* Typography
--------------------------------------------- */
.text-xs {
  font-size: $text-xs;
}

.text-sm {
  font-size: $text-sm;
}

.text-lg {
  font-size: $text-lg;
}

.text-xl {
  font-size: $text-xl;
}

.text-2xl {
  font-size: $text-2xl;
}

.text-3xl {
  font-size: $text-3xl;
}

.text-4xl {
  font-size: $text-4xl;
}

.text-white-75 { color: rgba($white, .75) !important; }

// Tracking
$tracking-tight:   -0.025em;
$tracking-tighter: -0.05em;
$tracking-wider:    0.05em;
$tracking-widest:   0.1em;

.tracking-wider {
  letter-spacing: $tracking-wider;
}

.tracking-widest {
  letter-spacing: $tracking-widest;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: $tracking-tight;
}

.font-heading {
  font-family: $headings-font-family;
}


/* For setting max width of page content
--------------------------------------------- */
$wrap: map-get($container-max-widths, "lg");

.wrap {
  max-width: $wrap;

  @include media-breakpoint-up("md") {
    padding-left: 25px;
    padding-right: 25px;
  }
}


/* Nav
--------------------------------------------- */
$navbar-height: $font-size-base * $line-height-base + ($nav-link-padding-y * 2) + ($navbar-padding-y * 2);

.pt-nav {
  padding-top: $navbar-height;
}

.navbar {
  @extend .navbar;

  z-index: 9999;
}

.navbar-light {
  .nav-link {
    &.active {
      color: $navbar-light-active-color;
    }

    &:hover,
    &:focus {
      color: $navbar-light-hover-color;
    }

    &.active,
    &:hover,
    &:focus {
      background-color: rgba($black, .03);
    }
  }
}

/* Shadow
--------------------------------------------- */
.shadow-lg-dark {
  box-shadow: 0 1rem 3rem rgba($black, .3);
}

/* Pinegrow Starter Styles
--------------------------------------------- */
img.wp-post-image,
article img,
figure,
#secondary img {
    margin-bottom: 10px;
}

.wp-caption-text {
    margin-bottom: 10px;
}

figcaption {
    // display: table-caption; //
    caption-side: top;
}

.widget-area aside {
    padding-bottom: 10px;
    padding-top: 10px;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

#page {
    word-wrap: break-word;
}

// Blocks Related Tweaks //
.wp-block-image figcaption {
    margin-top: .5em;
    margin-bottom: 1em;
    color: #BACBD9!important;
    text-align: center;
}

.wp-block-image .alignleft {
    margin-right: 0 !important;
}

// ST2 DEMO Related Tweaks //
@media (min-width: 912px)
{
    .jumbotron {
        padding: 8rem 2rem;
    }
}

.woocommerce div.product form.cart div.quantity {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 110px;
}

.woocommerce-MyAccount-navigation {
    margin-bottom: 50px;
    margin-top: 20px;
}

#wrapper-navbar img {
    width: 202px;
    height: 33px;
}
