/*--------------------------------------------------------------
>>> One-off classes that don't require their own file go here:
--------------------------------------------------------------*/

.chevron {
	height: 0.65rem;
	right: 0.5rem;
	top: 0.32rem;
}

.gradient {
	// background: linear-gradient(#95bff0,#1f5a99 50%);
	background: radial-gradient(circle at 70%, $color__hero-gradient-100, $color__blue-700);
}

.hero {
	// background: linear-gradient(90deg, $color__blue-700, $color__hero-gradient-100 80%);
	background: radial-gradient(circle at 70%, $color__hero-gradient-100, $color__blue-700);
	// background: radial-gradient(circle at 70%, $color__blue-500, $color__blue-700);
}

.quote-left {
  top: .7rem;
  left: .7rem;
  z-index: 0;
}

.transition {
	transition: all 0.3s ease;
}
